@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* Header Style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1.75rem;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
nav > .nav-brand {
  color: #131313;
  font-size: 2.75rem;
  font-weight: 700;
}

/* Banner Style */

.banner-content {
  max-width: 862px;
  margin: 6rem auto 3rem auto;
  text-align: center;
}
.banner .banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner .banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 2rem 0rem;
}
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 1.25rem 1.5rem;
  border: none;
  cursor: pointer;
}
.banner img {
  width: 100%;
}

/* Responsive Style Here */

/* Small Device */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/*  Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
